$primary-background-color: #E5E5E5;
$secondary-background-color: #FFF5F6;
$hero-background-color: #FFB8CA;
$btn-hover-color: #ECEBEB;

$pistachio-bgr-color: #C2E297;
$beige-bgr-color: #F0D1A5;

$accent-color: #D41443;
$pink-accent-color: #FFA5BA;

$primary-text-color: #907E82;
$white-text-color: #FFFFFF;
$black-text-color: #000000;

$primary-font-family: 'DM Sans', sans-serif;
$accent-font-family: 'Titan One', cursive;