<section class="about-us" id="about">
    <div class="container ">

        <h2 class="title-upperline ">tradition and love</h2>
        <h3 class="section-title ">how it’s made?</h3>

            <div class="about-us-content">

                     <picture>
                            <source srcset="./images/Desktop/how-made.png 1x,
                            ./images/Desktop/how-made@2x.png 2x,
                            ./images/Desktop/how-made@3x.png 3x"
                            media="(min-width: 1200px)"
                            type="image/webp">

                            <source srcset="./images/Desktop/how-made.webp 1x,
                            ./images/Desktop/how-made@2x.webp 2x,
                            ./images/Desktop/how-made@3x.webp 3x"
                            media="(min-width: 1200px)"
                            type="image/webp">

                            <source srcset="./images/Tablet/how-made.png 1x,
                            ./images/Tablet/how-made@2x.png 2x,
                            ./images/Tablet/how-made@3x.png 3x"
                            media="(min-width: 768px)"
                            type="image/webp">

                            <source srcset="./images/Tablet/how-made.webp 1x,
                            ./images/Tablet/how-made@2x.webp 2x,
                            ./images/Tablet/how-made@3x.webp 3x"
                            media="(min-width: 768px)"
                            type="image/webp">

                            <source srcset="./images/Mobile/how-made.webp 1x,
                            ./images/Mobile/how-made@2x.webp 2x,
                            ./images/Mobile/how-made@3x.webp 3x"
                            media="(max-width: 767px)"
                            type="image/webp">   
                            
                            <source srcset="./images/Mobile/how-made.png 1x,
                            ./images/Mobile/how-made@2x.png 2x,
                            ./images/Mobile/how-made@3x.png 3x"
                            media="(max-width: 767px)"
                            type="image/webp"> 
                                
                            <img class="about-us-img" width="280px" height="279px"
                            src ="./images/Mobile/how-made.png" 
                                alt=" Cow with a jug of milk">

                   </picture>
                            
                


            <div class="about-us-description">
                <p > 
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
                    <br>Nam vel justo cursus, 
                    faucibus lorem eget, egestas eros. 
                    Maecenas eleifend erat at justo fringilla.
                </p>

                <p class="text">
                    Curabitur lacinia enim at ex blandit, 
                    <br>vel pellentesque odio elementum.<br>
                    Mauris rhoncus orci in imperdiet placerat. 
                    Vestibulum euismod nisl suscipit ligula volutpat, 
                    a feugiat urna maximus. Cras massa nibh,<br> tincidunt.
            </p> 
                <p class="text indent">Aliquam erat volutpat. Aenean accumsan.</p>
                
                <button class="about-us-white button ">Read more
                    <svg class="about-us-icon-arrow" width="6px" height="10px">
                        <use href="./images/sprite.svg#icon-arrow-button"></use>
                    </svg>
                                
                </button>
            </div>
</div>


        
            
            <ul class="about-us-list">
                <li class="about-us-list-item">
                    <picture>
                            <source srcset="./images/Common/icon-milk.webp 1x,
                            ./images/Common/icon-milk@2x.webp 2x,
                            ./images/Common/icon-milk@3x.webp 3x"
                            type="image/webp"> 

                            <source srcset="./images/Common/icon-milk.png 1x,
                        ./images/Common/icon-milk@2x.png 2x,
                            ./images/Common/icon-milk@3x.png 3x"
                        type="image/webp">                    
                                
                        <img  class="about-us-list-icon" 
                            src ="./images/Common/icon-milk.png" 
                            alt="Milk bucket">

                    </picture>

                    <span class="figures">721</span>
                    <p class="paragraph">Aliquam ac dui vel dui vulputate consectetur. 
                        Mauris massa.</p>

                </li>

                <li class="about-us-list-item">
                    <picture> 
                            <source srcset="./images/Common/icon-apples.webp 1x,
                                ./images/Common/icon-apples@2x.webp 2x,
                                ./images/Common/icon-apples@3x.webp 3x"
                                type="image/webp">
                                
                                <source srcset="./images/Common/icon-apples.png 1x,
                                ./images/Common/icon-apples@2x.png 2x,
                                ./images/Common/icon-apples@3x.png 3x"
                                type="image/webp"> 
                                    
                            <img class="about-us-list-icon" 
                                src ="./images/Common/icon-apples.png"
                                alt="Apple bucket">

                    </picture>

                    <span class="figures">16kg</span>
                    <p class="paragraph">Aliquam ac dui vel dui vulputate consectetur. 
                        Mauris massa.</p>
                </li>

                <li class="about-us-list-item">
                    <picture>
                            <source srcset="./images/Common/icon-heart.webp 1x,
                                ./images/Common/icon-heart@2x.webp 2x,
                                ./images/Common/icon-heart@3x.webp 3x"
                                type="image/webp">
                                
                                <source srcset="./images/Common/icon-heart.png 1x,
                                ./images/Common/icon-heart@2x.png 2x,
                                ./images/Common/icon-heart@3x.png 3x"
                                type="image/webp"> 
                                    
                            <img  class="about-us-list-icon"
                                src ="./images/Common/icon-heart.png" 
                                alt="Heart">

                    </picture>

                    <span class="figures">84</span>
                    <p class="paragraph">Aliquam ac dui vel dui vulputate consectetur. 
                        Mauris massa.</p>
                </li>
            </ul>


    </div>
</section>