<section class="comments">
    <picture>
        <source srcset="
                    ./images/Desktop/gallery.webp    1x,
                    ./images/Desktop/gallery@2x.webp 2x,
                    ./images/Desktop/gallery@3x.webp 3x" media="(min-width: 1200px)" type="image/webp" />
        <source srcset="
                    ./images/Desktop/gallery.png    1x,
                    ./images/Desktop/gallery@2x.png 2x,
                    ./images/Desktop/gallery@3x.png 3x" media="(min-width: 1200px)" />
        <source srcset="
                    ./images/Tablet/gallery.webp    1x,
                    ./images/Tablet/gallery@2x.webp 2x,
                    ./images/Tablet/gallery@3x.webp 3x" media="(min-width: 768px)" type="image/webp" />
        <source srcset="
                    ./images/Tablet/gallery.png    1x,
                    ./images/Tablet/gallery@2x.png 2x,
                    ./images/Tablet/gallery@3x.png 3x" media="(min-width: 768px)" />
        <source srcset="
                    ./images/Mobile/gallery.webp    1x,
                    ./images/Mobile/gallery@2x.webp 2x,
                    ./images/Mobile/gallery@3x.webp 3x" media="(max-width: 767px)" type="image/webp" />
        <source srcset="
                    ./images/Mobile/gallery.png    1x,
                    ./images/Mobile/gallery@2x.png 2x,
                    ./images/Mobile/gallery@3x.png 3x" media="(max-width: 767px)" />
        <img src="./images/Mobile/gallery.png" alt="person's photo" class="gallery-image" />
    </picture>
    
    <div class="container comments">
        <picture>
            <source srcset="
                            ./images/Common/testimonial1.webp    1x,
                            ./images/Common/testimonial1@2x.webp 2x,
                            ./images/Common/testimonial1@3x.webp 3x" media="(min-width: 1200px)" type="image/webp" />
            <source srcset="
                            ./images/Common/testimonial1.png    1x,
                            ./images/Common/testimonial1@2x.png 2x,
                            ./images/Common/testimonial1@3x.png 3x" media="(min-width: 1200px)" />
            <source srcset="
                            ./images/Common/testimonial1.webp    1x,
                            ./images/Common/testimonial1@2x.webp 2x,
                            ./images/Common/testimonial1@3x.webp 3x" media="(min-width: 768px)" type="image/webp" />
            <source srcset="
                            ./images/Common/testimonial1.png    1x,
                            ./images/Common/testimonial1@2x.png 2x,
                            ./images/Common/testimonial1@3x.png 3x" media="(min-width: 768px)" />
            <source srcset="
                            ./images/Common/testimonial1.webp    1x,
                            ./images/Common/testimonial1@2x.webp 2x,
                            ./images/Common/testimonial1@3x.webp 3x" media="(max-width: 767px)" type="image/webp" />
            <source srcset="
                            ./images/Common/testimonial1.png    1x,
                            ./images/Common/testimonial1@2x.png 2x,
                            ./images/Common/testimonial1@3x.png 3x" media="(max-width: 767px)" />
            <img src="./images/Common/testimonial1.png" alt="person's photo" class="person-image" />
        </picture>

        <div class="review">
            <p class="review-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            <svg class="quotes">
                <use href="./images/sprite.svg#icon-untitled"></use>
            </svg>
        </div>

        <div class="person-data">
            <svg class="dots">
                <use href="./images/sprite.svg#icon-Elipse-3-red"></use>
            </svg>
            <p class="name">Emily, Los Angeles</p>
            <ul class="radiobuttons">
                <li class="radiobuttons-item">
                    <svg class="radiobutton-home">
                        <use href="./images/sprite.svg#icon-home"></use>
                    </svg>
                </li>
                <li class="radiobuttons-item">
                    <svg class="radiobutton-ellipse">
                        <use href="./images/sprite.svg#icon-Ellipse-grey"></use>
                    </svg>
                </li>
                <li class="radiobuttons-item">
                    <svg class="radiobutton-ellipse">
                        <use href="./images/sprite.svg#icon-Ellipse-grey"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</section>
