<section class="hero">
    <!-- header -->
    <header class="header" id="header">
        <div class="container">
            <!-- <div class="container"> -->
            <div class="header-container">
        
                <a href="./index.html" class="logo">
                    <picture>
                        <source srcset="./images/Common/logo.webp 1x,
                                    ./images/Common/logo@2x.webp 2x,
                                    ./images/Common/logo@3x.webp 3x" type="image/webp">
        
                        <source srcset="./images/Common/logo@2x.png 2x,
                                    ./images/Common/logo@3x.png 3x">
        
                        <img src="./images/Common/logo.png" alt="logo">
                    </picture>
                </a>
        
                <div class="header-button">
                    <button class="menu-button" data-modal-open>
                        <svg class="menu-icon">
                            <use href="./images/sprite.svg#icon-menu" class="icon-open"></use>
                        </svg>
                    </button>
        
                    <button class="button duble">Buy now
                        <svg class="menu-icon-arrow">
                            <use href="./images/sprite.svg#icon-arrow-button"></use>
                        </svg>
                    </button>
                </div>
        
            </div>
        
            <div class="menu is-hidden" data-modal>
        
                <button class="menu-button close" data-modal-close>
                    <svg class="menu-icon">
                        <use href="./images/sprite.svg#icon-close-menu" class="icon-close"></use>
                    </svg>
                </button>
        
                <button class="button">Buy now
                    <svg class="menu-icon-arrow">
                        <use href="./images/sprite.svg#icon-arrow-button"></use>
                    </svg>
                </button>
        
                <nav class="site-nav">
                    <ul class="site-nav-list">
                        <li class="site-nav-item"> <a href="#header" class="site-nav-link current">Home</a></li>
                        <li class="site-nav-item"> <a href="#comment" class="site-nav-link">About us</a></li>
                        <li class="site-nav-item"> <a href="#about" class="site-nav-link">How it’s made?</a></li>
                        <li class="site-nav-item"> <a href="#products" class="site-nav-link">Our products</a></li>
                        <li class="site-nav-item"> <a href="#contact" class="site-nav-link">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- </div> -->
        </div>
    </header>
    
    <!-- hero -->
    <div class="container hero-container"> 
        <!-- section hero -->
        <div class="hero-content">
            <div class="hero-action-box">
                <h1 class="hero-tittle">ice cream made with <span class="hero-tittle__modified">passion</span></h1>

                <div class="hero-button-box">
                    <button class="button hero-button hero-button__modified">Products</button>
                    <button class="button hero-button">How it's made?</button>
                </div>

                <div class="hero-link-box">
                    <p class="hero-link-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit adipisicing eliadipisicing eli elit adipisicingelit adipisicing</p>
                    <a class="hero-link-button" href="#">
                        <picture>
                            <source srcset="./images/Common/arrow-right.webp 1x, 
                                ./images/Common/arrow-right@2x.webp 2x, 
                                ./images/Common/arrow-right@3x.webp 3x" 
                                type="image/webp" 
                                media="(min-width: 768px)" 
                            />
                            
                            <source srcset="./images/Common/arrow-right.png 1x, 
                                ./images/Common/arrow-right@2x.png 2x, 
                                ./images/Common/arrow-right@3x.png 3x" 
                                media="(min-width: 768px)" 
                            />

                            <img src="./images/Common/arrow-right.png" alt="arrow-right">
                        </picture>
                    </a>
                
                </div>
            </div>

            <div class="hero-info-box">
                <div class="hero-info-card">
                    <svg class="hero-info-elipse" viewBox="0 0 16 16">
                        <circle r="8" cx="8" cy="8" />
                    </svg>
                    <span class="hero-info-number">16</span>
                    <span class="hero-info-text hero-info-text__modified">cafes</span>
                </div>

                <div class="hero-info-card">
                    <svg class="hero-info-elipse" viewBox="0 0 16 16">
                        <circle r="8" cx="8" cy="8" />
                    </svg>
                    <span class="hero-info-number hero-info-number__modified">23</span>
                    <span class="hero-info-text">food trucks</span>
                </div>
            </div> 
        </div>
        
        <!--    изображения для фона контейнера     -->    
        <div>   
            <svg class="hero-elipse" viewBox="0 0 344 344">
                <circle r="172" cx="172" cy="172" />
            </svg>
            
            <picture class="hero-background-icecream">
                <source srcset="./images/Mobile/slider1.webp 1x, 
                    ./images/Mobile/slider1@2x.webp 2x, 
                    ./images/Mobile/slider1@3x.webp 3x" 
                    type="image/webp" 
                    media="(max-width: 767px)" 
                />
            
                <source srcset="./images/Mobile/slider1.png 1x, 
                    ./images/Mobile/slider1@2x.png 2x, 
                    ./images/Mobile/slider1@3x.png 3x" 
                    media="(max-width: 767px)" 
                />

                <source srcset="./images/Desktop/slider1.webp 1x, 
                    ./images/Desktop/slider1@2x.webp 2x, 
                    ./images/Desktop/slider1@3x.webp 3x" 
                    type="image/webp" 
                    media="(min-width: 1200px)" 
                />
                    
                <source srcset="./images/Desktop/slider1.png 1x, 
                    ./images/Desktop/slider1@2x.png 2x, 
                    ./images/Desktop/slider1@3x.png 3x" 
                    media="(min-width: 1200px)" 
                />

                <source srcset="./images/Tablet/slider1.webp 1x, 
                    ./images/Tablet/slider1@2x.webp 2x, 
                    ./images/Tablet/slider1@3x.webp 3x" 
                    type="image/webp" 
                    media="(min-width: 768px)" 
                />

                <source srcset="./images/Tablet/slider1.png 1x, 
                    ./images/Tablet/slider1@2x.png 2x, 
                    ./images/Tablet/slider1@3x.png 3x" 
                    media="(min-width: 768px)" 
                />
                <img src="./images/Mobile/slider1.png" alt="ice cream">
            </picture>

            <picture class="hero-background-milk">
                <source srcset="./images/Desktop/slider3.webp 1x, 
                    ./images/Desktop/slider3@2x.webp 2x, 
                    ./images/Desktop/slider3@3x.webp 3x" 
                    type="image/webp" 
                    media="(min-width: 1200px)" 
                />
                
                <source srcset="./images/Desktop/slider3.png 1x, 
                    ./images/Desktop/slider3@2x.png 2x, 
                    ./images/Desktop/slider3@3x.png 3x" 
                    media="(min-width: 1200px)" 
                />


                <source srcset="./images/Tablet/slider3.webp 1x, 
                    ./images/Tablet/slider3@2x.webp 2x, 
                    ./images/Tablet/slider3@3x.webp 3x" 
                    type="image/webp" 
                    media="(min-width: 768px)"
                />

                <source srcset="./images/Tablet/slider3.png 1x, 
                    ./images/Tablet/slider3@2x.png 2x, 
                    ./images/Tablet/slider3@3x.png 3x" 
                    media="(min-width: 768px)"
                />
                <img src="./images/Tablet/slider3.png" alt="milk">
            </picture>

            <picture class="hero-background-girl">
                <source srcset="./images/Desktop/slider2.webp 1x, 
                    ./images/Desktop/slider2@2x.webp 2x, 
                    ./images/Desktop/slider2@3x.webp 3x" 
                    type="image/webp" 
                    media="(min-width: 1200px)" 
                />
            
                <source srcset="./images/Desktop/slider2.png 1x, 
                    ./images/Desktop/slider2@2x.png 2x, 
                    ./images/Desktop/slider2@3x.png 3x" 
                    media="(min-width: 1200px)" 
                />


                <source srcset="./images/Tablet/slider2.webp 1x, 
                    ./images/Tablet/slider2@2x.webp 2x, 
                    ./images/Tablet/slider2@3x.webp 3x" 
                    type="image/webp" 
                    media="(min-width: 768px)" 
                />
            
                <source srcset="./images/Tablet/slider2.png 1x, 
                    ./images/Tablet/slider2@2x.png 2x, 
                    ./images/Tablet/slider2@3x.png 3x" 
                    media="(min-width: 768px)" 
                />
                <img src="./images/Tablet/slider2.png" alt="girl">  
            </picture>
        </div>     
    </div>
    
</section>