<section class="products-section" id="products">
  <div class="container about-products">
      <p class="title-upperline">100% natural</p>
      <h2 class="section-title">products</h2>
      <ul class="our-products">
        <li class="product-item ice-cream-product">
          <div class="list-item ice-cream active">
              <picture>
                  <source
                    srcset="
                    ./images/Desktop/product1.webp    1x,
                    ./images/Desktop/product1@2x.webp 2x,
                    ./images/Desktop/product1@3x.webp 3x"
                    media="(min-width: 1200px)"
                    type="image/webp"
                  /> 
                  <source
                    srcset="
                    ./images/Desktop/product1.png    1x,
                    ./images/Desktop/product1@2x.png 2x,
                    ./images/Desktop/product1@3x.png 3x"
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                    ./images/Tablet/product1.webp    1x,
                    ./images/Tablet/product1@2x.webp 2x,
                    ./images/Tablet/product1@3x.webp 3x"
                    media="(min-width: 768px)"
                    type="image/webp"
                  /> 
                  <source 
                    srcset="
                    ./images/Tablet/product1.png    1x,
                    ./images/Tablet/product1@2x.png 2x,
                    ./images/Tablet/product1@3x.png 3x"
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                    ./images/Mobile/product1.webp    1x,
                    ./images/Mobile/product1@2x.webp 2x,
                    ./images/Mobile/product1@3x.webp 3x"
                    media="(max-width: 767px)"
                    type="image/webp"
                  /> 
                  <source   
                    srcset="
                    ./images/Mobile/product1.png    1x,
                    ./images/Mobile/product1@2x.png 2x,
                    ./images/Mobile/product1@3x.png 3x"
                    media="(max-width: 767px)"
                  />
                  <img
                    src="./images/Desktop/product1.png"
                    alt="strawberry ice-cream" class="product-photo"
                  />
              </picture>
              
              <div class="product-card">
                  <h3 class="product-name">ice cream</h3>
                  <span>...</span>
                  <p class="product-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                  <button type="button" class="product-button-right">
                      <picture>
                          <source
                            srcset="
                            ./images/Common/arrow-right.webp    1x,
                            ./images/Common/arrow-right@2x.webp 2x,
                            ./images/Common/arrow-right@3x.webp 3x"
                            type="image/webp"
                          /> 
                          <source   
                            srcset="
                            ./images/Common/arrow-right.png    1x,
                            ./images/Common/arrow-right@2x.png 2x,
                            ./images/Common/arrow-right@3x.png 3x"
                          />
                          <img
                            src="./images/Common/arrow-right.png"
                            alt="red right arrow"
                          />
                      </picture>
                  </button>
              </div>
          </div>

          <div class="list-item ice-cream-flavor">
            <picture>
                <source
                  srcset="
                  ./images/Desktop/product1.webp    1x,
                  ./images/Desktop/product1@2x.webp 2x,
                  ./images/Desktop/product1@3x.webp 3x"
                  media="(min-width: 1200px)"
                  type="image/webp"
                /> 
                <source
                  srcset="
                  ./images/Desktop/product1.png    1x,
                  ./images/Desktop/product1@2x.png 2x,
                  ./images/Desktop/product1@3x.png 3x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/Tablet/product1.webp    1x,
                  ./images/Tablet/product1@2x.webp 2x,
                  ./images/Tablet/product1@3x.webp 3x"
                  media="(min-width: 768px)"
                  type="image/webp"
                /> 
                <source 
                  srcset="
                  ./images/Tablet/product1.png    1x,
                  ./images/Tablet/product1@2x.png 2x,
                  ./images/Tablet/product1@3x.png 3x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/Mobile/product1.webp    1x,
                  ./images/Mobile/product1@2x.webp 2x,
                  ./images/Mobile/product1@3x.webp 3x"
                  media="(max-width: 767px)"
                  type="image/webp"
                /> 
                <source   
                  srcset="
                  ./images/Mobile/product1.png    1x,
                  ./images/Mobile/product1@2x.png 2x,
                  ./images/Mobile/product1@3x.png 3x"
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/Desktop/product1.png"
                  alt="strawberry ice-cream" class="product-photo"
                />
            </picture>
            
            <div class="product-card">
                <h3 class="product-name">ice cream flavors</h3>
                <ul class="flavors">
                  <li>Strawberry</li>
                  <li>Banana</li>
                  <li>Chocolate</li>
                  <li>Vanilla</li>
                  <li>Pistachio</li>
                </ul>
                <button type="button" class="product-button-left">
                    <picture>
                        <source
                          srcset="
                          ./images/Common/arrow-left.webp    1x,
                          ./images/Common/arrow-left@2x.webp 2x,
                          ./images/Common/arrow-left@3x.webp 3x"
                          type="image/webp"
                        /> 
                        <source   
                          srcset="
                          ./images/Common/arrow-left.png    1x,
                          ./images/Common/arrow-left@2x.png 2x,
                          ./images/Common/arrow-left@3x.png 3x"
                        />
                        <img
                          src="./images/Common/arrow-left.png"
                          alt="red right arrow"
                        />
                    </picture>
                </button>
            </div>
          </div>
        </li>

        <li class="product-item ice-coffee-product">
          <div class="list-item ice-coffee active">
            <picture>
              <source
                srcset="
                ./images/Desktop/product2.webp    1x,
                ./images/Desktop/product2@2x.webp 2x,
                ./images/Desktop/product2@3x.webp 3x"
                media="(min-width: 1200px)"
                type="image/webp"
              /> 
              <source
                srcset="
                ./images/Desktop/product2.png    1x,
                ./images/Desktop/product2@2x.png 2x,
                ./images/Desktop/product2@3x.png 3x"
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                ./images/Tablet/product2.webp    1x,
                ./images/Tablet/product2@2x.webp 2x,
                ./images/Tablet/product2@3x.webp 3x"
                media="(min-width: 768px)"
                type="image/webp"
              /> 
              <source 
                srcset="
                ./images/Tablet/product2.png    1x,
                ./images/Tablet/product2@2x.png 2x,
                ./images/Tablet/product2@3x.png 3x"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                ./images/Mobile/product2.webp    1x,
                ./images/Mobile/product2@2x.webp 2x,
                ./images/Mobile/product2@3x.webp 3x"
                media="(max-width: 767px)"
                type="image/webp"
              /> 
              <source   
                srcset="
                ./images/Mobile/product2.png    1x,
                ./images/Mobile/product2@2x.png 2x,
                ./images/Mobile/product2@3x.png 3x"
                media="(max-width: 767px)"
              />
              <img
                src="./images/Desktop/product2.png"
                alt="ice coffee in a glass" class="product-photo"
              />
          </picture>
                  
            <div class="product-card">
                      <h3 class="product-name">ice coffee</h3>
                      <span>...</span>
                      <p class="product-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                      <button type="button" class="product-button-next">
                          <picture>
                              <source
                                srcset="
                                ./images/Common/arrow-right.webp    1x,
                                ./images/Common/arrow-right@2x.webp 2x,
                                ./images/Common/arrow-right@3x.webp 3x"
                                type="image/webp"
                              /> 
                              <source   
                                srcset="
                                ./images/Common/arrow-right.png    1x,
                                ./images/Common/arrow-right@2x.png 2x,
                                ./images/Common/arrow-right@3x.png 3x"
                              />
                              <img
                                src="./images/Common/arrow-right.png"
                                alt="red right arrow"
                              />
                          </picture>
                      </button>
            </div>
          </div>

          <div class="list-item ice-coffee-flavor">
            <picture>
                <source
                  srcset="
                  ./images/Desktop/product2.webp    1x,
                  ./images/Desktop/product2@2x.webp 2x,
                  ./images/Desktop/product2@3x.webp 3x"
                  media="(min-width: 1200px)"
                  type="image/webp"
                /> 
                <source
                  srcset="
                  ./images/Desktop/product2.png    1x,
                  ./images/Desktop/product2@2x.png 2x,
                  ./images/Desktop/product2@3x.png 3x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/Tablet/product2.webp    1x,
                  ./images/Tablet/product2@2x.webp 2x,
                  ./images/Tablet/product2@3x.webp 3x"
                  media="(min-width: 768px)"
                  type="image/webp"
                /> 
                <source 
                  srcset="
                  ./images/Tablet/product2.png    1x,
                  ./images/Tablet/product2@2x.png 2x,
                  ./images/Tablet/product2@3x.png 3x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/Mobile/product2.webp    1x,
                  ./images/Mobile/product2@2x.webp 2x,
                  ./images/Mobile/product2@3x.webp 3x"
                  media="(max-width: 767px)"
                  type="image/webp"
                /> 
                <source   
                  srcset="
                  ./images/Mobile/product2.png    1x,
                  ./images/Mobile/product2@2x.png 2x,
                  ./images/Mobile/product2@3x.png 3x"
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/Desktop/product2.png"
                  alt="ice coffee in a glass" class="product-photo"
                />
            </picture>
            
            <div class="product-card">
                <h3 class="product-name">ice coffee flavors</h3>
                <ul class="flavors">
                  <li>Strawberry</li>
                  <li>Banana</li>
                  <li>Chocolate</li>
                  <li>Vanilla</li>
                  <li>Caramel</li>
                </ul>
                <button type="button" class="product-button-back">
                    <picture>
                        <source
                          srcset="
                          ./images/Common/arrow-left.webp    1x,
                          ./images/Common/arrow-left@2x.webp 2x,
                          ./images/Common/arrow-left@3x.webp 3x"
                          type="image/webp"
                        /> 
                        <source   
                          srcset="
                          ./images/Common/arrow-left.png    1x,
                          ./images/Common/arrow-left@2x.png 2x,
                          ./images/Common/arrow-left@3x.png 3x"
                        />
                        <img
                          src="./images/Common/arrow-left.png"
                          alt="red right arrow"
                        />
                    </picture>
                </button>
            </div>
          </div>
        </li>

        <li class="product-item milkshake-product">
          <div class="list-item milkshakes active">
            <picture>
                <source
                  srcset="
                  ./images/Desktop/product3.webp    1x,
                  ./images/Desktop/product3@2x.webp 2x,
                  ./images/Desktop/product3@3x.webp 3x"
                  media="(min-width: 1200px)"
                  type="image/webp"
                /> 
                <source
                  srcset="
                  ./images/Desktop/product3.png    1x,
                  ./images/Desktop/product3@2x.png 2x,
                  ./images/Desktop/product3@3x.png 3x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/Tablet/product3.webp    1x,
                  ./images/Tablet/product3@2x.webp 2x,
                  ./images/Tablet/product3@3x.webp 3x"
                  media="(min-width: 768px)"
                  type="image/webp"
                /> 
                <source 
                  srcset="
                  ./images/Tablet/product3.png    1x,
                  ./images/Tablet/product3@2x.png 2x,
                  ./images/Tablet/product3@3x.png 3x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/Mobile/product3.webp    1x,
                  ./images/Mobile/product3@2x.webp 2x,
                  ./images/Mobile/product3@3x.webp 3x"
                  media="(max-width: 767px)"
                  type="image/webp"
                /> 
                <source   
                  srcset="
                  ./images/Mobile/product3.png    1x,
                  ./images/Mobile/product3@2x.png 2x,
                  ./images/Mobile/product3@3x.png 3x"
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/Desktop/product3.png"
                  alt="chocolate milkshake in a glass" class="product-photo"
                />
            </picture>
            
            <div class="product-card">
                <h3 class="product-name">milkshakes</h3>
                <span>...</span>
                <p class="product-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
                <button type="button" class="product-button-forward">
                    <picture>
                        <source
                          srcset="
                          ./images/Common/arrow-right.webp    1x,
                          ./images/Common/arrow-right@2x.webp 2x,
                          ./images/Common/arrow-right@3x.webp 3x"
                          type="image/webp"
                        /> 
                        <source   
                          srcset="
                          ./images/Common/arrow-right.png    1x,
                          ./images/Common/arrow-right@2x.png 2x,
                          ./images/Common/arrow-right@3x.png 3x"
                        />
                        <img
                          src="./images/Common/arrow-right.png"
                          alt="red right arrow"
                        />
                    </picture>
                </button>
            </div>
          </div>

          <div class="list-item milkshakes-flavor">
            <picture>
                <source
                  srcset="
                  ./images/Desktop/product3.webp    1x,
                  ./images/Desktop/product3@2x.webp 2x,
                  ./images/Desktop/product3@3x.webp 3x"
                  media="(min-width: 1200px)"
                  type="image/webp"
                /> 
                <source
                  srcset="
                  ./images/Desktop/product3.png    1x,
                  ./images/Desktop/product3@2x.png 2x,
                  ./images/Desktop/product3@3x.png 3x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                  ./images/Tablet/product3.webp    1x,
                  ./images/Tablet/product3@2x.webp 2x,
                  ./images/Tablet/product3@3x.webp 3x"
                  media="(min-width: 768px)"
                  type="image/webp"
                /> 
                <source 
                  srcset="
                  ./images/Tablet/product3.png    1x,
                  ./images/Tablet/product3@2x.png 2x,
                  ./images/Tablet/product3@3x.png 3x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ./images/Mobile/product3.webp    1x,
                  ./images/Mobile/product3@2x.webp 2x,
                  ./images/Mobile/product3@3x.webp 3x"
                  media="(max-width: 767px)"
                  type="image/webp"
                /> 
                <source   
                  srcset="
                  ./images/Mobile/product3.png    1x,
                  ./images/Mobile/product3@2x.png 2x,
                  ./images/Mobile/product3@3x.png 3x"
                  media="(max-width: 767px)"
                />
                <img
                  src="./images/Desktop/product3.png"
                  alt="chocolate milkshake in a glass" class="product-photo"
                />
            </picture>
            
            <div class="product-card">
                <h3 class="product-name">milkshakes flavors</h3>
                <ul class="flavors">
                  <li>Strawberry</li>
                  <li>Banana</li>
                  <li>Chocolate</li>
                  <li>Vanilla</li>
                  <li>Crisp Mint</li>
                </ul>
                <button type="button" class="product-button-backward">
                    <picture>
                        <source
                          srcset="
                          ./images/Common/arrow-left.webp    1x,
                          ./images/Common/arrow-left@2x.webp 2x,
                          ./images/Common/arrow-left@3x.webp 3x"
                          type="image/webp"
                        /> 
                        <source   
                          srcset="
                          ./images/Common/arrow-left.png    1x,
                          ./images/Common/arrow-left@2x.png 2x,
                          ./images/Common/arrow-left@3x.png 3x"
                        />
                        <img
                          src="./images/Common/arrow-left.png"
                          alt="red right arrow"
                        />
                    </picture>
                </button>
            </div>
          </div>
        </li>
      
      </ul>
  </div>
</section>
