/* клон хедера для позиционирования, потом удалить*/
.header-clone {
  position: relative;
  z-index: 1;
  height: 50px;
  background-color: grey;
}
.hero {
  background-color: $hero-background-color;
  overflow: hidden;

  &-container {
    position: relative;

    height: 502px;
  }

  &-content {
    position: relative;
    margin-top: 137px;
    z-index: 1;
  }

  &-button-box {
    display: flex;
    margin-top: 19px;
  }

  &-button {
    padding: 0 15px;
    height: 24px;

    font-size: 8px;
    font-weight: 400;
    line-height: 2.25;

    &__modified {
      margin-right: 8px;
      color: $white-text-color;
      background-color: $accent-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-button__modified:hover {
    background-color: $btn-hover-color;
    color: $accent-color;
  }

  &-tittle {
    margin: 0;
    padding: 0;
    max-width: 218px;

    font-family: $accent-font-family;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $white-text-color;

    &__modified {
      font-size: 48px;
      line-height: 0.96;

      color: $accent-color;
    }
  }

  &-info-box {
    display: none;
  }

  &-elipse {
    position: absolute;
    width: 344px;
    height: 344px;

    top: 83px;
    right: -57px;
    fill: $pink-accent-color;
  }

  &-background-icecream {
    position: absolute;
    bottom: 0%;
    right: 32px;
  }

  &-link-box {
    display: none;
  }

  &-background-milk {
    display: none;
  }

  &-background-girl {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 37px;
    height: 400px;
  }

  .hero-content {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .hero-tittle {
    max-width: 162px;
    font-size: 22px;

    &__modified {
      font-size: 34px;
    }
  }

  .hero-link-box {
    display: block;
    margin-top: 66px;
    margin-left: 120px;
    width: 114px;
  }

  .hero-link-text {
    margin-bottom: 7px;

    font-size: 8px;
    line-height: 1.5;
    color: $white-text-color;
  }

  .hero-link-button {
    display: inline-block;

    &:hover,
    &:focus {
      border: 2px solid $accent-color;
      border-radius: 50%;
    }
  }

  .hero-link-button img {
    width: 18px;
  }

  .hero-button-box {
    margin-top: 20px;
  }

  .hero-info-box {
    position: relative;
    display: block;
  }

  .hero-info-card {
    margin-left: auto;
    height: 43px;
    width: 43px;

    &:not(:first-child) {
      margin-top: 13px;
      width: 51px;
    }
  }

  .hero-info-number {
    display: block;
    font-family: $accent-font-family;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    color: $accent-color;

    &__modified {
      padding-left: 8px;
    }
  }

  .hero-info-text {
    display: block;
    font-size: 8px;
    line-height: 1.25;

    color: $white-text-color;

    &__modified {
      text-align: center;
    }
  }

  .hero-elipse {
    right: 137px;
    top: 37px;
    width: 324px;
    height: 322px;
  }

  .hero-background-icecream {
    right: 247px;
  }

  .hero-background-milk {
    position: absolute;
    display: block;
    bottom: 28px;
  }

  .hero-background-girl {
    position: absolute;
    display: block;
    bottom: 0;
    right: 15px;
  }

  .hero-info-elipse {
    position: absolute;
    width: 16px;
    right: 0;
    z-index: -1;
    fill: $primary-background-color;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    height: 665px;
  }

  .hero-content {
    margin-top: 100px;
  }

  .hero-tittle {
    max-width: 277px;
    font-size: 38px;

    &__modified {
      font-size: 58px;
      line-height: 0.905;
    }
  }

  .hero-button-box {
    margin-top: 25px;
  }

  .hero-button {
    padding: 0 20px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;

    &__modified {
      padding: 0 23px;
      margin-right: 17px;
    }
  }

  .hero-link-box {
    min-width: 200px;
    margin-left: 180px;
    margin-top: 112px;
  }

  .hero-link-text {
    min-width: 200px;
    font-size: 14px;
  }

  .hero-link-button img {
    width: 26px;
  }

  .hero-info-box {
    margin-right: -15px;
  }

  .hero-info-card {
    width: 72px;
    height: 77px;

    &:not(:first-child) {
      width: 92px;
      height: 76px;
    }
  }

  .hero-info-number {
    font-size: 46px;

    &__modified {
      padding-left: 17px;
    }
  }

  .hero-info-text {
    font-size: 14px;

    &__modified {
      text-align: right;
    }
  }

  .hero-info-elipse {
    width: 30px;
  }

  .hero-elipse {
    right: 180px;
    top: 52px;
    width: 538px;
    height: 538px;
  }

  .hero-background-icecream {
    right: 380px;
  }

  .hero-background-milk {
    left: -40px;
  }
}
